.App {
  text-align: center;
  font-size: 40PX;
  color: skyblue;
  font-style: italic;
}
h2 {
  font-size: 40PX;
  color: yellowgreen;
  font-style: italic; 
}
p {
  font-size: 14px;
  color: black;
}